* {
    box-sizing: border-box;
}
body {
    font-family: Trebuchet MS;
    margin: 0;
    background-color: #fff319;
} 
.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff319;
    transition: 1s;
}
.mainsplashimg {
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    object-fit: scale-down; 
    max-width: 100%;
    animation: fadeIn 1.5s;
    /*animation: fadeIn 1.5s;
    animation: slideInLeft 1.5s ease-in-out;*/
   
}
.splashimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down; 
    max-width: 100%;
    animation: fadeIn 1.5s;
    /*animation: fadeIn 1.5s;
    animation: slideInLeft 1.5s ease-in-out;*/
   
}
.buttoncontainer {
    margin: auto;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.button {
    background-color: black;
    border-radius: 12px;
    color: white;
    margin-right: 10px;
    padding: 15px 30px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    animation: fadeIn 1.5s;
}
.button:hover{
    background-color: white;
    color:black;
}
.icnbtn {
    background-color: #fff319;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.icnbtn:hover {
    color: white;
}
.grid-container {
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 10px;
    animation: fadeIn 1.75s
  }
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    
}
.grid-item:hover {
    color: #fff319;
    background-color: black;
}
.fadeOut{
    animation: fadeOut 1.5s;
}
@media screen and (max-width: 700px) {
    
}
@keyframes slideInLeft{
    from {
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes fadeIn{
    from {
        transform: translateY(-300px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeOut{
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to{
        transform: translateY(-300px);
        opacity: 0;
    }
}