* {
    box-sizing: border-box;
}
body {
    font-family: Trebuchet MS;
    margin: 0;
    background-color: #fff319;
}
h1, h2, h3, h4, h5, h6, p{
    font-family: "Outfit", sans-serif;
    font-weight: 500;
}
.ansbtn{
    background: black;
    color: #fff319;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    width: 100%;
    border: 1px solid #fff319;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.ansbtn:hover{
    background: #fff319;
    color:black;
}
.button {
    background-color: black;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    padding: 15px 30px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    animation: fadeIn 1.5s;
    transition: all 0.3s;
}
.button:hover{
    background-color: white;
    color:black;
}
.buttoncontainer {
    margin: auto;
} 
.center {
    background-color: #fff319;
    display: flex;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.fadeIn{
    animation: fadeIn 2s;
}
.fadeOut{
    animation: fadeOut 1.5s;
}
.grid-container {
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    animation: fadeIn 1.75s
  }
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s;
}
.grid-item:hover {
    color: #fff319;
    background-color: black;
}
.icnbtn {
    animation: fadeIn 1.5s;
    background-color: #fff319;
    border: none;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 15px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    translate: -0.25rem;
    transition: all 0.3s;
    padding-left: 10px;
    padding-right: 10px;
}
.icnbtns {
    animation: fadeIn 1.5s;
    background-color: #fff319;
    border: none;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 15px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    translate: -0.15rem;
    transition: all 0.3s;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
.icnbtn:hover {
    color: white;
}
.intro{
    background-color: #fff319;
    height: 100vh;
    width: 100%;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;    
    transition: 1s;
}
.leaderboard{
    animation: fadeIn 1.5s;
    background: black;
    border-radius: 30px;
    color: #fff319;
    display: block;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    max-width: 600px;
    margin: 20px auto 0;    
    padding: 15px;
    text-align: center;
    width: 90%;
}
.leadersplashimg {
    animation: fadeIn 1.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    object-fit: scale-down;
}
.mainsplashimg {
    animation: fadeIn 1.5s;
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    max-width: 100%;
    object-fit: scale-down;
    padding: 30px;
}
.nxtbtn{
    background: black;
    border: 1px solid #fff319;
    border-radius: 10px;
    color: #fff319;
    cursor: pointer;
    display: none;
    font-weight: 500;
    margin: 20px auto 0;
    padding: 10px;
    transition: all 0.3s;
    width: 150px;
    

}
.nxtbtn:hover{
    background: #fff319;
    color:black;
}
.quiz{
    background: black;
    border-radius: 30px;
    color: white;
    display: none;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    margin: 100px auto 0;
    max-width: 600px;
    padding: 30px;
    width: 90%;
}
.splashimg {
    animation: fadeIn 1.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    object-fit: scale-down;
    padding: 30px;
}
@media screen and (max-width: 700px) {
    
}
@keyframes fadeIn{
    from {
        transform: translateY(-300px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeOut{
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to{
        transform: translateY(-300px);
        opacity: 0;
    }
}